[submodule "externalLibs/imgui"]
	path = externalLibs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	
[submodule "externalLibs/vulkan"]
	path = externalLibs/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = main
[submodule "externalLibs/volk"]
	path = externalLibs/volk
	url = https://github.com/zeux/volk.git
	branch = master
